In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_path = "/epl-goalScorer(20-21).csv"
df = pd.read_csv(file_path)

In [ ]:
# 10 Player terbanyak mencatak gol
top_goal_scorers = df.sort_values(by='goals', ascending=False).head(10)
print("10 Player terbanyak mencetak gol:")
print(top_goal_scorers[['player_name', 'goals']])

10 Player terbanyak mencetak gol:
             player_name  goals
0             Harry Kane     23
1          Mohamed Salah     22
2        Bruno Fernandes     18
3          Son Heung-Min     17
4        Patrick Bamford     17
5  Dominic Calvert-Lewin     16
6            Jamie Vardy     15
7          Ollie Watkins     14
8         Ilkay Gündogan     13
9    Alexandre Lacazette     13

In [ ]:
# 10 player terlama durasi bermain
top_longest_players = df.sort_values(by='time', ascending=False).head(10)
print("\n10 player terlama durasi bermain:")
print(top_longest_players[['player_name', 'time']])

10 player terlama durasi bermain:
               player_name  time
296            Hugo Lloris  3420
378      Emiliano Martinez  3420
311      Kasper Schmeichel  3420
110  Pierre-Emile Højbjerg  3420
40           Stuart Dallas  3412
327           Matt Targett  3407
480            Luke Ayling  3400
204       Andrew Robertson  3391
55         Youri Tielemans  3359
7            Ollie Watkins  3330

In [ ]:
# 10 player terbanyak assist
top_assist_players = df.sort_values(by='assists', ascending=False).head(10)
print("\n10 player terbanyak assist:")
print(top_assist_players[['player_name', 'assists']])

10 player terbanyak assist:
         player_name  assists
0         Harry Kane       14
2    Bruno Fernandes       12
58   Kevin De Bruyne       11
3      Son Heung-Min       10
51     Jack Grealish       10
15   Marcus Rashford        9
6        Jamie Vardy        9
57          Raphinha        9
49       Timo Werner        8
281  Aaron Cresswell        8

In [ ]:
# 4 player pencetak gol terbanyak dari kesebelasan manchester city

# Mengambil data pemain Manchester City
manchester_city_players = df[df['team_title'] == 'Manchester City']

# Mengurutkan data berdasarkan jumlah gol dan mengambil 4 pemain teratas
top_goal_scorers_manchester_city = manchester_city_players.sort_values(by='goals', ascending=False).head(4)
print("4 player pencetak gol terbanyak dari Kesebelasan Manchester City:")
print(top_goal_scorers_manchester_city[['player_name', 'goals']])

4 player pencetak gol terbanyak dari Kesebelasan Manchester City:
        player_name  goals
8    Ilkay Gündogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

In [ ]:
# Dari kesebelasan mana pencetak gol terbanyak

goals_per_team = df.groupby('team_title')['goals'].sum()

# Mengurutkan dan mengambil kesebelasan dengan jumlah gol terbanyak
top_team_goals = goals_per_team.sort_values(ascending=False).head(1)
print("\nDari kesebelasan mana pencetak gol terbanyak:")
print(top_team_goals)

Dari kesebelasan mana pencetak gol terbanyak:
team_title
Manchester City    77
Name: goals, dtype: int64

In [ ]:
# Berapa jumlah kartu kuning dan merah yang diterima pembuat assist  terbanyak ?

# Mengambil data pemain dengan jumlah assist terbanyak
top_assist_players = df.sort_values(by='assists', ascending=False).head(1)

# Menghitung jumlah kartu kuning dan merah
yellow_cards_sum = top_assist_players['yellow_cards'].sum()
red_cards_sum = top_assist_players['red_cards'].sum()

print("\nBerapa jumlah kartu kuning dan merah yang diterima pembuat assist terbanyak?")
print(f"Kuning: {yellow_cards_sum}, Merah: {red_cards_sum}")

Berapa jumlah kartu kuning dan merah yang diterima pembuat assist terbanyak?
Kuning: 1, Merah: 0

In [ ]:
# Siapa yang jumlah assist dan golnya paling banyak dan dari kesebelasan mana ?

# Mengambil data pemain dengan jumlah assist dan gol terbanyak
top_players = df.sort_values(by=['goals', 'assists'], ascending=[False, False]).head(1)

print("\nSiapa yang jumlah assist dan golnya paling banyak dan dari kesebelasan mana:")
print(top_players[['player_name', 'team_title', 'goals', 'assists']])

Siapa yang jumlah assist dan golnya paling banyak dan dari kesebelasan mana:
  player_name team_title  goals  assists
0  Harry Kane  Tottenham     23       14

In [ ]:
# 5 kesebelasan yang menyumbangkan gol terbanyak

goals_per_team = df.groupby('team_title')['goals'].sum()

# Mengurutkan dan mengambil 5 kesebelasan dengan jumlah gol terbanyak
top_teams_goals = goals_per_team.sort_values(ascending=False).head(5)
print("\n5 kesebelasan yang menyumbangkan gol terbanyak:")
print(top_teams_goals)

5 kesebelasan yang menyumbangkan gol terbanyak:
team_title
Manchester City      77
Manchester United    68
Tottenham            66
Liverpool            64
Leicester            64
Name: goals, dtype: int64

In [ ]:
# Urutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali !

# Mengambil data pemain tanpa kartu kuning atau merah
players_no_cards = df[(df['yellow_cards'] == 0) & (df['red_cards'] == 0)]

# Mengurutkan pemain berdasarkan jumlah gol terbanyak
top_goal_scorers_no_cards = players_no_cards.sort_values(by='goals', ascending=False)

print("\nUrutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali:")
print(top_goal_scorers_no_cards[['player_name', 'goals']])

Urutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali:
         player_name  goals
1      Mohamed Salah     22
3      Son Heung-Min     17
13        Chris Wood     12
28      Riyad Mahrez      9
29     Harvey Barnes      9
..               ...    ...
353      Lys Mousset      0
343    Islam Slimani      0
341       Moise Kean      0
340          Emerson      0
521  Tyrese Francois      0

[164 rows x 2 columns]